.password-settings {
  background: #FFF;
  border-radius: 2px;
  padding: 40px;

  &-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #0A0E2E;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .text-field {
    width: 370px;
  }

  & &-submit {
    width: 251px;
    height: 55px;
    background: #70C497;
    border-radius: 60px;
    margin-top: 40px;
  }

  &-alternative {
    color: #495368;
    font-size: 18px;
    margin: 16px 0 0 0;

    span {
      margin: 5px 0;
    }

    a {
      color: #70C497;
      margin-left: 5px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
