.tasks-tracker {
  margin-top: 3.3333rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2222rem;

    h3 {
      margin: 0;
      font-size: 2rem;
    }

    .button {
      width: 280px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    border-radius: 2px;

    .task {
      background: #fff;
    }
  }
}

.no-tasks {
  margin: 20px auto;
}