.customers-table {
  padding: 25px 0;
  background-color: #fff;

  &-head {
    padding: 0 40px 25px;
    color: #656565;
    font-size: 0.8889rem;

    ul {
      display: flex;

      li:nth-child(1) {
        width: 40%;
      }

      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(4) {
        width: 20%;
        text-align: center;
      }
    }
  }

  &-body {
    & > ul {
      margin: 0;
      flex-direction: column;
    }
  }
}

.customers-table-body-row {
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #F4F4F4;

  &:last-child {
    border-bottom: none;
  }

  ul {
    display: flex;
    width: 100%;

    li:nth-child(1) {
      width: 40%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
      width: 20%;
      color: #0A0E2E;
      font-size: 0.8889rem;
      text-align: center;
    }

    li {
      padding: 25px 0 23px;

      span {
        padding: 10px 20px;
        background: #F3F3F3;
        border-radius: 60px;

        &.have-assessment {
          background: #DCDCDC;
        }
      }
    }
  }

  .customers-link {
    background-color: transparent;
    border: none;
    color: #171C48;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1440px) {
  .customers-table-head {
    padding: 0 40px 15px;
    color: #656565;
    font-size: 0.8889rem;
  }

  .customers-table-body-row ul li{
    padding: 20px 0 18px;
  }
}