.dashboard-menu {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: linear-gradient(180deg, #154EA5 13.06%, #0D83FE 161.2%);
  text-align: center;

  &-title {
    margin: 35px 0 80px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }

  &-list {
    margin: 0;

    li a {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        padding: 20px 0;
        color: #fff;
        font-size: 1rem;
        text-align: center;
      }

      &.active {
        span {
          background-color: #3A6BB5;
          color: #FFA842;
        }

        svg path {
          stroke: #FFA842;
        }
      }
    }

    svg {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .dashboard-menu {
    width: 300px;

    &-title {
      margin: 25px 0 60px;
    }

    &-list {
      li a span {
        padding: 15px 0;
      }
    }
  }
}