.dashboard-page {
  display: flex;
  min-height: 100vh;
}

.dashboard {
  flex: 1;
  position: relative;
  background: #F9F9F9;

  &-title {
    margin: 0;
    color: #0A0E2E;
    font-size: 2rem;
  }
}

.dashboard-content {
  width: 1000px;
  margin: 25px auto 60px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;

    .button {
      width: 280px;
    }
  }
}

.empty-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;
  margin-top: 50px;
  background-color: #fff;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    text-align: center;

    &-title {
      margin: 25px 0 15px;
      color: #0A0E2E;
      font-size: 1.5556rem;
      font-weight: 700;
    }

    &-subtitle {
      margin: 0 0 40px;
      color: #555C66;
      font-size: 0.8889rem;
      line-height: 1.3333rem;
      font-weight: 400;
    }

    .button {
      width: 280px;
    }
  }
}

.thanks-text {
  margin-top: 200px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .dashboard-content {
    width: 950px;
    margin: 25px auto 40px;

    &-header {
      margin: 30px 0;
    }
  }
  .empty-dashboard {
    height: 550px;
    margin-top: 0;
  }
}