.dashboard-menu {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: #242E41;
  text-align: center;
  height: 100vh;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    padding: 10px 0;

    img {
      max-width: 200px;
      height: 100%;
      object-fit: contain;
    }
  }

  &-list {
    margin: 70px 0 0;

    li a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 66px;

      span {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 140px;
        margin-left: -15px;
        padding: 20px 0;
        color: #fff;
        font-size: 1rem;
      }

      &.active {
        background-color: #1A2233;
        font-weight: bold;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: #70C497;
          height: 66px;
          width: 8px;
          border-radius: 0 3px 3px 0;
        }
      }
    }

    &-item-icon {
      margin-right: 16px;
    }
  }

  &-faq {
    height: 100%;
    padding: 0 57px 60px 57px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  &-question-mark {
    width: 60px;
    height: 60px;
    background: #CED0D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  &-faq-text {
    font-size: 16px;
    line-height: 150%;
    color: #E7FEFE;
  }
}

@media screen and (max-width: 1440px) {
  .dashboard-menu {
    &-logo {
      height: 70px;
    }

    &-list {
      margin-top: 60px;

      li a span {
        padding: 15px 0;
      }
    }

    &-question-mark {
      width: 45px;
      height: 45px;
    }
  
    &-faq-text {
      font-size: 15px;
    }
  }
}