.dashboard-menu {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: linear-gradient(180deg, #154EA5 13.06%, #0D83FE 161.2%);
  text-align: center;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    padding: 10px 0;

    img {
      max-width: 200px;
      height: 100%;
      object-fit: contain;
    }
  }

  &-list {
    margin: 70px 0 0;

    li a {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        padding: 20px 0;
        color: #fff;
        font-size: 1rem;
        text-align: center;
      }

      &.active {
        span {
          background-color: #3A6BB5;
          color: #FFA842;
        }

        svg path {
          stroke: #FFA842;
        }
      }
    }

    svg {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .dashboard-menu {
    width: 300px;

    &-logo {
      height: 70px;
    }

    &-list {
      margin-top: 60px;

      li a span {
        padding: 15px 0;
      }
    }
  }
}