.auth-page {
  display: flex;
  min-height: 100vh;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    background: linear-gradient(180deg, #154EA5 13.06%, #0D83FE 161.2%);
    color: #fff;
  }

  &-form {
    display: flex;
    flex-direction: column;

    form {
      width: 370px;
    }

    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      margin: 0rem;
      color: #0A0E2E;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }

    &-subtitle {
      margin: 15px 0 40px;
      color: #555C66;
      font-weight: 300;
      font-size: 1rem;
      text-align: center;
    }
  }

  .button {
    margin: 40px auto 0;
    width: 280px;
  }

  &-alternative {
    display: flex;
    flex-direction: column;
    color: #555C66;
    font-size: 1rem;
    text-align: center;

    span {
      margin: 5px 0;
    }
    
    a {
      color: #4971FF;
      margin-left: 5px;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1440px) {
  .auth-page {

    &-form-subtitle {
      margin: 10px 0 30px;
    }
    .button {
      margin-top: 30px;
    }
  }
}