.assessment-page {
  min-height: 100vh;
  background: #F9F9F9;

  &-container {
    width: 1360px;
    margin: 0 auto;
    padding: 30px 0;
  }

  .assessment-subtitle {
    height: 60px;
    margin: 10px 0 10px;
    color: #555C66;
    font-size: 0.8889rem;
    line-height: 24px;
  }
}

.assessment-settings {
  display: flex;
  justify-content: space-between;

  &-steps {
    width: 320px;
  }

  &-update {
    width: 1015px;
    max-height: calc(100vh - 150px);
    padding: 25px 50px;
    background-color: #fff;
    border-radius: 2px;
    overflow-y: auto;

    .button {
      width: 210px;
      margin: 0 auto;
    }
  }
}

.assessment-setting {
  &-title {
    margin: 0;
    padding: 20px 0 30px;
    font-size: 1.3333rem;
    font-weight: 700;
  }

  &-subtitle {
    color: #555C66;
    font-size: 0.8889rem;
  }

  &-stages {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
  }
}

.assessment-setting-subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .saved {
    display: flex;
    align-items: center;
    position: relative;
    color: #008A63;
    font-size: 0.8889rem;

    &:after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-left: 10px;
      background-image: url('../../images/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: #008A63;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .assessment-page-container {
    width: 1200px;
  }

  .assessment-page .assessment-subtitle {
    height: 50px;
  }

  .assessment-settings {
    &-steps {
      width: 290px;
    }

    &-update {
      width: 890px;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .assessment-setting {
    &-title {
      padding: 20px 0;
    }

    &-stages {
      margin-bottom: 20px;
    }
  }
}