.range {
  position: relative;
  height: 0;
  margin: 20px 45px 67px;
  z-index: 10;

  input {
    width: 100%;
    height: 0px;
    padding: 0px 5px;
    -webkit-appearance: none;
    -moz-apperance: none;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-apperance: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #005AA0;
      border: 3px #fff solid;
      pointer-events: auto;
      cursor: grab;
      box-shadow: 0 0 0 2px #005AA0;
    }

    &::-moz-range-thumb {
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      background-color: #005AA0;
      pointer-events: auto;
      cursor: grab;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &:focus {
      outline: none;
    }
  }
}

.stages:not(.full-width) {
  .range {
    margin: 20px 50px 67px;
  }
}

.range-track {
  position: absolute;
  width: 88%;
  left: 6%;
  height: 10px;
  background-image: linear-gradient(to right, #ff5d54, #FFD865, #68B643);
  top: 33px;
  z-index: 1;

  &.disable {
    opacity: 0;
  }
}

@-moz-document url-prefix() {
  .range {
    margin: 20px 45px 67px;
  }
}

@media screen and (max-width: 1440px) {
  .range {
    margin: 20px 35px 65px;
  }

  .stages:not(.full-width) {
    .range {
      margin: 20px 45px 65px;
    }
  }

  .range-track {
    top: 31px;
  }

  @-moz-document url-prefix() {
    .range {
      margin: 20px 35px 63px;
    }

    .range-track {
      top: 30px;
    }

    .stages:not(.full-width) {
      .range {
        margin: 20px 45px 63px;
      }
    }
  }
}

