.assessment-page {
  min-height: 100vh;
  background: #F9F9F9;

  &-container {
    width: 1360px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .assessment-subtitle {
    margin: 10px 0 40px;
    color: #555C66;
    font-size: 0.8889rem;
  }
}

.assessment-page.admin {
  .assessment-setting-stages {
    margin-top: 90px;
  }
}

.assessment-settings {
  display: flex;
  justify-content: space-between;

  &-show {
    max-height: 680px;
    width: 320px;
    overflow-y: auto;
  }

  &-create {
    width: 1015px;
    max-height: 680px;
    padding: 25px 50px;
    background-color: #fff;
    border-radius: 2px;
    overflow-y: auto;

    .button {
      width: 210px;
      margin: 0 auto;
    }
  }
}

.assessment-setting {
  &-title {
    margin: 0;
    padding: 20px 0 40px;
    font-size: 1.3333rem;
    font-weight: 700;
  }

  &-subtitle {
    color: #555C66;
    font-size: 0.8889rem;
  }

  &-stages {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
  }
}

.assessment-setting-subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .saved {
    display: flex;
    align-items: center;
    position: relative;
    color: #008A63;
    font-size: 0.8889rem;

    &:after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-left: 10px;
      background-image: url('../../images/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: #008A63;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .assessment-page-container {
    width: 1200px;
  }

  .assessment-settings {
    &-show {
      width: 290px;
    }

    &-create {
      width: 890px;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .assessment-steps {
    padding: 20px;
  }

  .step-number {
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 0;

    &.active:before {
      width: 55px;
      height: 55px;
    }
  }

  .range {
    margin: 20px 35px 40px;
  }

  .stages-item {
    width: 110px;
  }
}