.profile-settings-page {
  display: flex;
  min-height: 100vh;
}

.profile-settings {
  flex: 1;
  position: relative;
  background: #F9F9F9;

  &-title {
    margin: 0;
    color: #0A0E2E;
    font-size: 2rem;
  }
}
