.header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #fff;

  &-block {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;

    p {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &-menu {
    position: relative;
    width: 220px;
    background-color: #fff;
    font-size: 0.8889rem;

    &-open {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0 25px 0 15px;
      background-color: #fff;
      border: none;
      border-radius: 2px;
      font-size: 0.8889rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .more-btn {
        margin: 0 0 0 auto;
      }
    }

    &-list {
      position: absolute;
      width: 100%;
      margin: 0;
      background-color: #fff;

      li {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 15px 0 20px;
        border-radius: 2px;
        cursor: pointer;

        img {
          margin-left: auto;
        }
      }
    }

    img {
      margin-right: 10px;
    }
  }
}

.header.board .header-block {
  width: 1000px;
  justify-content: flex-end;
}

.header.page .header-block {
  width: 1360px;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 70px;
  }

  .header.board .header-block {
    width: 950px;
  }

  .header.page .header-block {
    width: 1200px;
  }
}