.assessment {
  width: 100%;

  &-header {
    margin: 40px 0;

    p {
      color: #555C66;
      font-size: 0.8889rem;

      a {
        color: #4971FF;
        text-decoration: underline;
      }
    }
  }

  &-title {
    margin: 15px 0 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      width: 251px;
    }
  }

  .back-btn {
    margin-left: -10px;
    background-color: transparent;
    border: none;
  }

  &-breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #495368;
    font-size: 0.7778rem;
    font-weight: 400;

    img {
      margin: 0 10px;
    }

    .active {
      color: #0A0E2E;
      cursor: pointer;
    }
  }

  &-link {
    display: block;
    width: 250px;
    margin: 40px auto 10px;
    padding: 15px 0;
    background: #4971FF;
    border-radius: 60px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.customer &-risks {
    margin-bottom: 60px;
  }
}

.assessment-risks {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 300px;
}

.assessment-item {
  width: 320px;
  padding: 25px;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0A0E2E;
    width: 100%;
  }

  &-name {
    font-size: 1.3333rem;
    font-weight: 700;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & &-button {
    margin-top: 40px;
    min-width: 161px;
  }

  &-learn-more {
    color: #70C497;
    text-decoration: underline;
    margin-top: 15px;
    cursor: pointer;
  }

  &-type {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: block;
      background-color: #CED0D9;
      width: 12px;
      height: 12px;
      border-radius: 60px;
      margin-right: 10px;
    }

    &.low::before {
      background-color: #3D821D;
    }

    &.medium::before {
      background-color: #FFD865;
    }

    &.high::before {
      background-color: #D32F2F;
    }
  }

  &-risk {
    position: relative;
    display: flex;
    align-items: center;
    color: #515151;
    font-size: 0.8889rem;
    font-weight: 300;

    &:before {
      content: "";
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 12px;
      background-color: #F5FAFF;
    }
  }

  &.have-assessment &-risk {
    &.low::before {
      background-color: #68B643;
    }

    &.medium::before {
      background-color: #FFD865;
    }

    &.high::before {
      background-color: #FF5D54;
    }
  }
}

.risk-block {
  display: inline-block;
  position: relative;
  min-height: 100px;
}

.assessment-risk-progress {
  text-align: center;
}

.progress-block {
  position: relative;
  margin: 20px 0;

  .risk-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 6px solid;
    bottom: -7px;
    left: -7px;
    transform-origin: 110px 20px;

    &.low {
      border-color: #68B643;
    }

    &.medium {
      border-color: #FFD865;
    }

    &.high {
      border-color: #FF5D54;
    }

  }
}

.info-popup {
  max-height: 90vh;
  align-items: flex-start;
  padding: 80px 100px;
  overflow-y: auto;

  .popup-content-title {
    margin-bottom: 25px;
  }

  &-description {
    p {
      margin: 0 0 15px;
      color: #555C66;
      font-size: 0.8889rem;
      line-height: 1.3333rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .assessment-item {
    width: 255px;
    padding: 15px;
    margin-bottom: 10px;

    &-name,
    &-type {
      font-size: 14px;
    }
  }

  .assessment-breadcrumbs {
    margin-bottom: 20px;
  }

  .info-popup {
    padding: 60px 80px;

    .popup-content-title {
      margin-bottom: 20px;
    }
  }
}