.assessment {
  width: 100%;

  &-header {
    margin: 40px 0;

    p {
      color: #555C66;
      font-size: 0.8889rem;

      a {
        color: #4971FF;
        text-decoration: underline;
      }
    }
  }

  &-title {
    margin: 15px 0 0;
    font-size: 2rem;
  }

  .back-btn {
    margin-left: -10px;
    background-color: transparent;
    border: none;
  }

  &-breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: #0A0E2E;
    font-size: 0.7778rem;
    font-weight: 400;

    img {
      margin: 0 10px;
    }

    .active {
      color: #4971FF;
      cursor: pointer;
    }
  }

  &-link {
    display: block;
    width: 250px;
    margin: 40px auto 0;
    padding: 15px 0;
    background: #4971FF;
    border-radius: 60px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.assessment-risks {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 300px;
}

.assessment-item {
  width: 320px;
  padding: 25px;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0A0E2E;
  }

  &-name {
    font-size: 1.3333rem;
    font-weight: 700;
  }

  &-type {
    padding: 10px 30px;
    background-color: #F5FAFF;
    border-radius: 60px;
    color: #355C97;
    font-size: 0.8889rem;

    &.in-progress {
      background-color: #154EA5;
      color: #FFF0BC;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  &-risk {
    position: relative;
    display: flex;
    align-items: center;
    color: #515151;
    font-size: 0.8889rem;
    font-weight: 300;

    &:before {
      content: "";
      position: relative;
      display: inline-block;
      width: 22px;
      height: 14px;
      margin-right: 10px;
      border-radius: 12px;
      background-color: #F5FAFF;
    }
  }
}

.assessment-risk-progress {
  text-align: center;
}

.progress-block {
  position: relative;
  margin: 20px 0;

  .risk-circle {
    position: absolute;

    &.low {
      top: 5px;
      left: 70px;
    }

    &.medium {
      top: 5px;
      right: 70px;
    }

    &.hight {
      bottom: 0;
      right: 27px;
    }

  }
}

.assessment-item.have-assessment {
  .assessment-item-type {
    background-color: #DCDCDC;

    &.low {
      background-color: #E2F5D9;
      color: #3D821D;
    }

    &.medium {
      background-color: #fff5d6;
      color: #FFD865;
    }

    &.high {
      background-color: #FEECEB;
      color: #D32F2F;
    }
  }

  .assessment-item-risk {
    &.low:before {
      background-color: #3e821d;
    }

    &.medium:before {
      background-color: #FFE143;
    }

    &.high:before {
      background-color: #FF4B32;
    }
  }
}

.assessment.admin {
  .assessment-link {
    width: 160px;
  }
}

@media screen and (max-width: 1440px) {
  .assessment-item {
    width: 300px;
    padding: 15px;

    &-type {
      padding: 10px 20px;
    }
  }
}