.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.8889rem;
  border-radius: 60px;
  background-color: #494949;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}