.MuiButton-root.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.8889rem;
  border: none;
  border-radius: 60px;
  background-color: #70C497;
  color: #fff;
  font-size: 1rem;
  text-transform: none;
  cursor: pointer;

  &:hover {
    color: #70C497;
    border: 1.5px solid #70C497;
    background-color: transparent;
  }
}

.MuiButton-root.MuiButton-outlined.button {
  background: transparent;
  border: 1.5px solid #70C497;
  box-sizing: border-box;
  color: #70C497;

  &:hover {
    background-color: #70C497;
    color: #fff;
  }
}
