.text-field {
  position: relative;
  margin-bottom: 26px;
  color: #9E9E9E;

  &-label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #495368;
  }

  &-input {
    width: 100%;
    padding: 11px 16px 13px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: rgba(10, 14, 46, .6);
    font-size: 0.8889rem;

    &::placeholder {
      color: rgba(10, 14, 46, .5);
    }

    &:-ms-input-placeholder {
      color: rgba(10, 14, 46, .5);
    }

    &::-ms-input-placeholder {
      color: rgba(10, 14, 46, .5);
    }

    &:focus {
      outline: none;
      border: 1px solid #4971FF;
    }

    &.error {
      border: 1px solid #D85869;
    }

    &.no-error {
      border: 1px solid #008A63;
    }
  }

  .error-text {
    position: absolute;
    bottom: -20px;
    left: 5px;
    margin: 0;
    font-size: 12px;
    color: #D85869;
  }
}

@media screen and (max-width: 1440px) {
  .text-field {
    .error-text {
      bottom: -15px;
      font-size: 10px;
    }
  }
}