@import 'toastr';

.toast-success {
  background-color: #70C497;
  opacity: 1 !important;
}
.toast-error {
  background-color: #FF5D54;
  opacity: 1 !important;
}
.toast-info {
  background-color: #2f96b4;
  opacity: 1 !important;
}
.toast-warning {
  background-color: #f89406;
  opacity: 1 !important;
}
